.logo-carrito {
    width: 25px;
    padding: 10px;
}

.boton-carrito {
    color: black;
    background-color: white;
    border-color: black;
    border: solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 0px;
    font-size: large;
}