.form-checkout {
    background-color: white;
}

.form-checkout input {
    padding: 10px;
    margin: 10px;
}

.boton-finalizar-compra {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    border-color: black;
    border-radius: 10px;
    width: 200px;
    text-transform: uppercase;
}

.boton-finalizar-compra:hover {
    background-color: turquoise;
}